<section>
  <div> 
 {{maintlog.last_oil_change}} 
 {{maintlog.last_tire_rotation}} 
 </div>
 <div> 
 {{maintlog.last_spark_plugs}} 
 {{maintlog.last_air_filter}} 
 </div>
 <div> 
 {{maintlog.notes}} 
 </div>
</section>