<section>
  <div> 
 <h6>Last Oil:  {{last_oil_change}} Miles</h6> 
 <h6>Last new Tires: {{last_tire_rotation}} Miles </h6>
 </div>
 <div> 
 <h6>Last Spark Plugs: {{last_spark_plugs}} Miles </h6>
 <h6>Last New Air Filter: {{last_air_filter}} Miles </h6>
 </div>
 <div> 
 <h6>Car Notes: {{notes}} </h6>
 </div>
</section>